<!DOCTYPE html>
<html>
    <head>
        <title>TrekGuru</title>
        
    </head>
    <body>
        <h1>TrekGuru - Your Trekking Companion</h1>
        <h2>Made for lovely trekking experiences!</h2>
        <p>Welcome to TrekGuru! This is a trekking management app to make your trekking experience smoother.</p>
        <p>We are here to provide a hassle-free experience.Join us now!</p>
    </body>
    <footer>
        <h4>Please contact support.trekguru@gmail.com for further support </h4>
    </footer>
</html>