{% extends "base.html" %}


{% block title %}
Manage Bookings | WannaTrek
{% endblock %}



{% block content %}


<div class="container mt-5">


<h2 class="fw-bold text-success mb-4">
Booking Management
</h2>



{% if bookings %}


<div class="card shadow border-0">


<div class="card-body">


<div class="table-responsive">


<table class="table table-hover table-bordered align-middle text-center">


<thead class="table-success">

<tr>

<th>#</th>

<th>User</th>

<th>Email</th>

<th>Trek</th>

<th>Location</th>

<th>Booking Date</th>

<th>Status</th>

</tr>

</thead>



<tbody>


{% for booking in bookings %}


<tr>


<td>
{{ loop.index }}
</td>


<td>
{{ booking.user.username }}
</td>


<td>
{{ booking.user.email }}
</td>


<td>
{{ booking.trek.name }}
</td>


<td>
{{ booking.trek.location }}
</td>


<td>

{{ booking.booking_date.strftime('%d %b %Y') }}

</td>


<td>


{% if booking.status == "Booked" %}

<span class="badge bg-success">
Booked
</span>


{% else %}

<span class="badge bg-secondary">
{{ booking.status }}
</span>


{% endif %}


</td>


</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>


</div>


{% else %}


<div class="card shadow border-0">

<div class="card-body text-center py-5">


<h4 class="text-muted">
No bookings available
</h4>


<p class="text-secondary">
Bookings made by users will appear here.
</p>


</div>

</div>


{% endif %}



</div>


{% endblock %}